<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ShareP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="proper.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <ShareP.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="autojoin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nPresentation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nChat" serializeAs="String">
                <value>False</value>
            </setting>
        </ShareP.Properties.Settings>
    </userSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
          <binding name="NetTcpBinding_IShareP" maxBufferSize="67108864"
                    maxReceivedMessageSize="67108864" maxBufferPoolSize="67108864"
                     transferMode="Buffered" closeTimeout="00:00:30"
                     openTimeout="00:00:30" receiveTimeout="00:00:30"
                     sendTimeout="00:00:30" maxConnections="100">
                <security mode="None">
                </security>
                <readerQuotas maxArrayLength="67108864"
                    maxBytesPerRead="67108864"
                    maxStringContentLength="67108864" />
                <reliableSession enabled="true"
                  inactivityTimeout="00:00:01" />
            </binding>
        </netTcpBinding>
     </bindings>
    <client>
      <endpoint address="net.tcp://192.168.0.108:8000/ShareP/tcp" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IShareP" contract="IShareP"
          name="NetTcpBinding_IShareP" />
    </client>
  </system.serviceModel>
</configuration>
